tpl {
	font:normal 14px Arial, sans-serif;
	line-height:14px;
	display:block;
	
	padding:30px 30px;
	box-sizing:border-box;
	
	z-index:100;
	position:relative;
	height:1350px;
	width:940px;
	border:1px solid #ccc;
}

tpl.landscape {
	height:940px;
	width:1350px;
}

#print_templates {
	
}

@media print {
	body > * {
		display:none;
	}
	body .printable {
		display:block;
		width:210mm;
		height:290mm;
		padding:0;
		margin:0;
	}
}


container {
	word-wrap:break-word;
	white-space: pre-wrap;
}


tpl.debug {	color:#f00; }
tpl.debug hr {	border-color:#f00;}
tpl.debug table { border-color:#f00;}
tpl.debug:before {
	content:' ';
	width:100%;
	height:100%;
	position:absolute;
	display:block;
	left:0;
	top:0;
	border:1px solid #ccc;
	opacity:0.2;
	z-index:1;
}



/******************/

tpl h2 { margin:0;  padding:6px 0; text-align:center; font-size:14pt !important; font-weight:bold !important; line-height:10px; }
tpl hr {   margin: 0;
  padding: 0;
  height: 4px;
  width: 100%;
  display: inline-block;
  border: none;
  border-top: 1px solid #000; }

tpl table {
	font:normal 13px Arial, sans-serif;
	border-collapse:collapse;
	width:100%;
	white-space: normal;
	
}

tpl table td, tpl table th {
	padding:2px 5px;
}

tpl table.center td, tpl table.center th {
	text-align: center;
}

tpl table td.right, tpl table th.right {
	text-align: right;
}

tpl table td.left, tpl table th.left {
	text-align: left;
}

tpl table thead.dotted tr:not(:first-child) th { /* Подзаголовки разделены пунктиром*/
	border-top-style: dashed;
}


tpl tfoot th {
	text-align:right;
	padding-right:5px;
}

/******************/
tpl header { display:block; padding:100px 0 0 0; position:relative; }
tpl header right { float:right; height:100px; }

tpl logo { display:block; position:absolute;  left:-5px; top:50px; width:250px; height:50px; background:url(../img/kazpost.svg) no-repeat -20px -20px; background-size:cover;  }
tpl barcode { 
	display:block; position:absolute; right:-10px; top:30px; width:200px; height:60px; background:url(../img/barcode.svg) no-repeat -25px 10px; background-size:250px 55px;
	font:bold 11px "Courier New", Courier, monospace;
	text-align:center;
}
tpl footer { display:block; font-size:11px; line-height:15px; position:absolute; bottom:20px; }
tpl footer toolpar { display:inline-block; width:85px ; height:15px; margin-bottom:-4px; background:url(../img/toolpar.svg) no-repeat -85px -5px; background-size:250px 25px;}
tpl header label { font-size:9px; position:absolute; top:0; }

tpl dl {
	display: flex;
	flex-flow: row nowrap ;
	justify-content: space-between;
	margin:10px 0;
	padding:0 10px;
}
tpl dd { 
	display: block;	
	margin:0;
}


tpl small { font-weight: normal;  line-height: 10px;  display: inline-block; }
tpl .stamp { position:absolute; top:50%; left:50%; margin-left:-30px; margin-top:-20px; border:1px solid #000; padding:5px 15px; font-weight:bold; }

tpl box { display: inline-flex; align-items: center; border: 2px solid #000; padding: 10px; font-size: 10px; box-sizing:border-box; min-height: 80px; min-width: 80px; text-align: center;}


/*********************/

.break {
	page-break-after: always;
}

/********* PRE CACHE ***********/
#print_templates:after {
	display:none;
    content: url(../img/kazpost.svg),url(../img/barcode.svg),url(../img/toolpar.svg);
}

/***************************/

tpl[name='INVOICE'].debug:before {	background:url(../preview/Invoice.png) no-repeat left 30px; }
tpl[name='ACT'].debug:before {	background:url(../preview/Act.png) no-repeat left 30px; }
tpl[name='FC'].debug:before {	background:url(../preview/FC.png) no-repeat 15px 38px; }

tpl[name='PC'] {
	line-height:18px;
}
tpl[name='FC'] {
	width:550px;
	line-height:18px;
}

tpl[name='INVOICE'], tpl[name='ACT'] {
	font:normal 14px Arial, sans-serif;
	line-height:15px;
}