.page-content {
	background-color: #f7f7f7;
}

/*********************/

form input,form textarea,form select {
	background-color:#f7f7f7;
}

form input[required], form textarea[required], form select[required], form input-group {
	background-color:#fff;
	border:1px solid #888;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}


form input::-webkit-input-placeholder  {
	color: #777;
}
