/*********************/

html {
	background:#fff !important;
}

body {
/*  font: normal 12px Tahoma;	*/
}

.head {
  background: #014a8c;
}

.head a {
	color:#fff;
}

.head a:hover {
	 background-color: #ac8d44;
}



.head input.search.var2 {
  background-color:#fff;
}

.head button.create {
  background: -webkit-linear-gradient(top, #ffb400, #dc9c00);
  text-shadow: 0 1px 0 #b37e00;
  color: #fff;
  border: 0;
  box-shadow: rgba(255,255,255,0.1) 0 1px 0 0 inset,rgba(0,0,0,0.2) 0 1px 1px 0;
}

.head button.create:hover {
  background-image: -webkit-linear-gradient(top, #ffc22e, #e4a202);
}

a[badge]:before {
  background-color: #ffb400;
}

h1 {color: #574e4e; font-weight:600;}
h1 sup { color:#ffb400;}

.footer-content {
	
}

/****************/

button {
}

button.prefered {
  background-color: #ffb400;
}

button:hover {
	background-color: #e5e1d9;
}
button:active {
	color: #000;
	border:1px inset;
}

button.prefered:hover, button.prefered:focus {
	background-color: #ffc511;
}
button.prefered:active {
	background-color: #ffc511;
}

/*************/

.menu-sidebar, .footer {
  background-color: #0157a5;
  /*
  border-style: solid;
  border-width: 1px;
  border-color: black #dfdfdf #dfdfdf black;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #808080;*/
  -webkit-user-select:none;
  
}

.menu > li {
  border-top: 1px solid #015098;
  color:#fff;
}

.menu > li > a:hover, .menu > li > label:hover, .menu ul li > a:hover, .menu ul li > label:hover {
   background: #014a8c;
}

.menu li.selected > label, .menu li.selected > label a {
  background-color: #ffb400 !important;
}

.menu input:checked + label:nth-of-type(n) {
  background: #014a8c;
}

.menu label:after, .page-breadcrumb a:after {
  border-color:#ffb400;
}

.menu i {
  color: #ffcc00;
}

.body-wrapper {

}

.page-breadcrumb {
  background-color: #fff;
}

.page-breadcrumb a {
  color:#555;
}
/******************/

form input[required], form textarea[required], form select[required], form input:required {
  background-color: #eeeeee;
  border:none;
}

form input-group {
  border:none;
}

form input, form input-group {
  height: 36px;
}

/**************/

.cloudq {
  background-color: #0157a5;
  border-color:rgba(255,255,255,0.1);
}

.cloudq:before {
  border-left: 1px solid rgba(0,0,0,0.1);
}
.cloudq button {
  text-shadow:none;
  color: #fff;
}